.banner{
    width: 100%;
    height: 800px;
}

.banner-content-abt{
    position: absolute;
    width: 50%; 
    margin: 200px 0 0 30px;
    z-index: 1;
    text-align: left;
    padding: 20px;
}

.banner-content-abt p{
    color: rgb(194, 194, 194);
    font-size: 1rem;
    filter: drop-shadow(0 0 5px rgb(53, 53, 53));
}

.banner-content-abt h1{
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.banner-image-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 35%;
    height: 60%;
    z-index: 1;
    animation: bright 5s infinite;
    transition: all;
}

@keyframes bright{
    0%{
        filter: brightness(100%);
    }

    50%{
        filter: brightness(150%);
        transform: scale(1.05);
    }

    100%{
        filter: brightness(100%);
    }
}

.banner-image-container img {
    justify-self: center;
    width: 100%;
    height: 80%;
    object-fit: cover;
}