


/* LINKS-DETALLES */

.links-detalles {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  width: 250px;
}

.peliseries-links {
  height: 70px;
  display: flex;
  align-items: center;
}

.peliseries-links-icono {
  height: 70px;
  display: flex;
  align-items: center;
}

/* PARA MOBILE  */

@media (max-width: 480px) {



}

/* PARA TABLET */

@media (min-width: 768px) and (max-width: 1199px) {

}

/* CARRUSEL PRINCIPAL */

#mainCarousel {
  max-width: 100%;
  /* height: 700px; */
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

/* .contenedor-btn{
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin-top: 500px;
} */

.imagen-con-boton {
  position: relative;
  display: inline-block;
}

.imagen-con-boton img {
  display: block;
  width: 100%;
  height: auto;
}

.boton-encima-info {
  position: absolute;
  font-size: px;
  top: 85%;                 
  left: 10%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.boton-encima-vermas {
  position: absolute;
  top: 85%;                 
  right: 10%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

/* GALERIA PELIS DESTACADAS */

.contenedor-destacadas{
  
}

.container-titulo-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-pelis-destacadas{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  object-fit: contain;
  gap: 10px;
  overflow: hidden;
}

.img-peli-des{
  width: 245px;
  height: auto;
  border-radius: 5px;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  &:hover {
    scale: 105%;
  }
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */

/* .contenedor-titulo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0px 20px;
}

.contenedor-titulo h3 {
  color: #fff;
  font-size: 20px;
} */

/* CONTENEDOR PRINCIPAL */

/* .peliculas-recomendadas {
  margin-bottom: 70px;
}

.contenedor-principal-categorias {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
} */

/* CARRUSEL */

/* .contenedor-carousel {
  padding: 20px 20px;
  overflow: hidden;
}

.carousel-categorias {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.pelicula {
  min-width: 19.7%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  &:hover {
    scale: 105%;
  }
}

.pelicula img {
  width: 100%;
  vertical-align: top;
  border-radius: 5px;
} */

/* ESTRENOS */

.card-estrenos {
  flex: 0 0 auto;
  width: 200px;
}

.contenedor-estrenos-categorias{
  padding: 0px 100px;
}

/* BARRA DE SCROLL ESTRENOS */

.d-flex::-webkit-scrollbar {
  height: 10px; /* Altura de la barra */
}

.d-flex::-webkit-scrollbar-track {
  background: #1a1a1a; /* Color del fondo de la barra */
  border-radius: 10px;
}

.d-flex::-webkit-scrollbar-thumb {
  background-color: #521a86; /* Color del scroll */
  border-radius: 10px;
  border: 2px solid #1a1a1a; /* Borde interior */
}

.d-flex::-webkit-scrollbar-thumb:hover {
  background-color: #b266ff;
}

/* RANKING */

.contenedor-ranking{
   padding: 0px 100px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.ranking img {
  width: 60px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.ranking a {
  text-decoration: none;
  color: inherit;
}

.ranking li {
  background: rgba(0, 0, 0, 0.8);
}
