


/* LINKS-DETALLES */

.links-detalles {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  width: 250px;
}

.peliseries-links {
  height: 70px;
  display: flex;
  align-items: center;
}

.peliseries-links-icono {
  height: 70px;
  display: flex;
  align-items: center;
}

/* CARRUSEL PRINCIPAL */

.container-section-2-carrusel-principal{
  max-height: 200vh;
  height: auto;
  margin: 0 auto;
  width: 100%;
  /* background-color: var(--colorSection); */
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
  min-height: 100vh;
}

.carousel-de-fondo{
   position: fixed;       
  top: 0;
  left: 0;
  width: 100vw;          
  height: 100vh;        
  z-index: -1;           
  object-fit: cover;     
  overflow: hidden;  
}

#mainCarouselCategorias{
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

#mainCarouselCategorias .carousel-inner {
  height: 750px; 
}

#mainCarouselCategorias .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

/* CONTENEDOR SECCIONES */

.contenedor-seccion-categorias{
  width: auto;
  height: 10px;
}

/* GALERIA PELIS DESTACADAS */

.container-section-peliculas-destacadas{
  max-height: 200vh;
  height: auto;
  margin: 0 auto;
  width: 100%;
  /* background-color: var(--colorSection); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0,0 ));
  z-index: 1;
  min-height: 100vh;
}

.container-section-2-series-destacadas{
  max-height: 200vh;
  height: auto;
  margin: 0 auto;
  width: 100%;
  /* background-color: var(--colorSection); */
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
  min-height: 100vh;
}

.container-titulo-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.container-pelis-destacadas{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
  gap: 10px;
  /* overflow: hidden; */
}

.img-peli-des{
  width: 200px;
  height: auto;
  border-radius: 5px;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  &:hover {
    scale: 105%;
  }
}

/* ESTRENOS */

.container-section-categorias-estrenos{
  max-height: 200vh;
  height: 80vh;
  margin: 0 auto;
  width: 100%;
  /* background-color: var(--colorSection); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0,0 ));
  z-index: 1;
}

.card-estrenos{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  height: 30vh;
}

.card-estrenos-categorias{
  flex: 0 0 200px; 
  min-width: 150px;
  max-width: 200px;
  display: flex;
  border-radius: 8px;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 170px;
  height: 200px;
  padding: 10px 0px;
  /* object-fit: fill; */
}

.card-img-top img{
  object-fit: cover;
}

.contenedor-estrenos-categorias{
  padding: 0px 100px;
}

/* BARRA DE SCROLL ESTRENOS */

.d-flex::-webkit-scrollbar {
  height: 10px; /* Altura de la barra */
}

.d-flex::-webkit-scrollbar-track {
  background: #1a1a1a; /* Color del fondo de la barra */
  border-radius: 10px;
}

.d-flex::-webkit-scrollbar-thumb {
  background-color: #521a86; /* Color del scroll */
  border-radius: 10px;
  border: 2px solid #1a1a1a; /* Borde interior */
}

.d-flex::-webkit-scrollbar-thumb:hover {
  background-color: #b266ff;
}

/* RANKING */

.container-section-2-ranking-semanal{
  max-height: 200vh;
  height: 130vh;
  margin: 0 auto;
  width: 100%;
  /* background-color: var(--colorSection); */
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
  /* min-height: 100vh; */
}

.contenedor-ranking{
   padding: 0px 100px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.ranking img {
  width: 60px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.ranking a {
  text-decoration: none;
  color: inherit;
}

.ranking li {
  background: rgba(0, 0, 0, 0.8);
}

/* TABLET RESPONSIVE */

@media (min-width: 768px) and (max-width: 1199px) {
  /* CARRUSEL PRINCIPAL */
  .container-section-2-carrusel-principal{
    height: auto;
    min-height: 40vh;
  }
  /* PELICULAS DESTACADAS */
  .container-section-peliculas-destacadas{
    max-height: 100%;
  }

  /* SERIES DESTACADAS */
  .container-section-2-series-destacadas{
    max-height: 100%;
  }

  .container-titulo-btn{
    padding: 0px 60px;
  }

  /* ESTRENOS */
  .container-section-categorias-estrenos{
    height: 60vh;
  }

  /* RANKING */
  .container-section-2-ranking-semanal{
    height: 80vh;
  }
}

/* MOVIL RESPONSIVE */

@media (max-width: 480px) {
  /* CARRUSEL PRINCIPAL */
  .container-section-2-carrusel-principal{
    height: auto;
    min-height: 25vh;
  }

  /* SECCIONES DESTACADAS */
  .container-section-peliculas-destacadas{
    max-height: 250vh;
    height: 225vh;
  }

  .container-section-2-series-destacadas{
    max-height: 250vh;
    height: 210vh;
  }

  .container-titulo-btn{
    padding: 0px 30px;
  }

  .img-peli-des{
    width: 150px;
    height: auto;
  }

  /* ESTRENOS RECIENTES */
  .container-section-categorias-estrenos{
    height: 55vh;
  }

  .contenedor-estrenos-categorias{
    padding: 0px 30px;
    
  }

  .card-estrenos{
    height: 38vh;
  }

  /* RANKING */
  .contenedor-ranking{
    padding: 0px 30px;
  }

  .container-section-2-ranking-semanal{
    height: 100vh;
  }
}