.container-section-detalles-peli {
  max-height: 300vh;
  height: auto;
  margin: 0 auto;
  width: 100%;
  display: flex;
  /* background-color: var(--colorSection); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0,0 ));
  z-index: 1;
 
}

.pelicula-presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 200vh;
    min-height:100vh ;
    /* height: 150vh; */
    overflow: hidden;
}


/* contenedor-contenido */

.descriptions-container{
    max-height: 200vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background: linear-gradient(to right, #000000 100%, transparent);
}

/* informacion */

.descriptions-container img{
    margin-top: 20px;
    height: 150px;
}

.info-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.edad h3{
    display: flex;
    align-items: center;
}

.space-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-play i{
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: bisque;
    &:hover{
        color: rgb(193, 24, 154);
    }
}

/* puntuacion */


.contenedor-hover{ 
    width: 100%;
    display: flex;
}

.cartel-hover{
    width: 100%;
 
    color: rgb(248, 232, 232);
    display: flex;
    align-items: center;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.contenedor-hover:hover .cartel-hover {
    transform: translateY(0%);
    opacity: 1;
}

.cartel-hover h3{
    font-size: 2rem;
}

.estrellas {
  margin: 30px;  
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 3rem;
  display: flex;
}

.estrellas input {
  display: none;
}

.estrellas label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.estrellas input:checked ~ label {
  color: rgb(255, 7, 156);
}

.estrellas label:hover,
.estrellas label:hover ~ label {
  color: rgb(255, 254, 253);
}

/* img-play */

.img-movie{
    position: relative;
}

.img-movie img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-movie::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: linear-gradient(to right, black, transparent);
    pointer-events: none;
}

/* PELICULA PARA VER */

.ver-pelicula{
    
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

.pelicula-en-si iframe{
    height: 50vh;
    display: flex;
    justify-content: center;
}

/* GALERIA PELIS DESTACADAS */

.container-section-peliculas-relacionadas{
    max-height: 200vh;
    height: auto;
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0,0 ));
    z-index: 1;
}

.titulo-2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-pelis-similares{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
  gap: 10px;
  /* overflow: hidden; */
}

.img-peli-similares{
  width: 300px;
  height: auto;
  border-radius: 5px;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  &:hover {
    scale: 105%;
  }
}

/* PARA MOBILE */

@media (max-width: 480px) {

/* DESCRIPCION */

.descriptions-container{
    padding: 0px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* informacion */

.descriptions-container img{
    height: 200px;
    width: 400px;
}

.info-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.info-container h3{
    font-size: 1rem;
}

.space-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-play i{
    padding: 30px;
    font-size: 2rem;
    
}

/* puntuacion */

.contenedor-hover h3{
    font-size: 1rem;
}

.contenedor-hover:hover .cartel-hover {
    transform: translateY(0%);
    opacity: 1;
}

.cartel-hover h3{
    font-size: 2rem;
}

/* IMAGEN */

.img-movie{
    display: none;
}

/* PELICULA */

.ver-pelicula iframe{
    height: 350px;
    width: 100%;
}

/* PELICULAS RELACIONADAS */

.img-peli-similares{
    width: 170px;
}

}

/* PARA TABLET */

@media (max-width: 998px) {

/* DESCRIPCION */

.pelicula-presentation{
    display: flex;
    
}

.pelicula-presentation{
  
    max-height: 200vh;
    min-height:100vh ;
    height: auto;
    overflow: hidden;
}


.descriptions-container{
    padding: 0px 20px;

}

.descriptions-container img{
    
    height: 200px;
    width: 500px;
}

.info-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


/* IMAGEN */

.img-movie{
    display: none;
}
.ver-pelicula{
    
    height: 100vh;
    width: 100%;
    max-height: 200vh;
    iframe{
        padding-top:  10rem ;
    }
}



}