/* este es el video de la page error-404  */
.video-error-404 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
/* esta es la imagen de la page error-404 */
.imagen-error-404 {
    display: none;
    
  }

  /* Breakpoints tablet  */
@media (max-width: 768px) {

}

  @media (max-width: 480px) {
  
  .video-error-404 {
      display: none;
  }

  .imagen-error-404 {
    display: block;
    height: 100vh;
    width: 100vw;
    
  }
}

