.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-bg, .image-bg {
  position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; /* para que se recorte bien sin distorsionarse */
      z-index: -1;
}
.item-error{
max-width: 100%;
margin: 0 auto;
padding-top: 400px;

}

@media (max-width: 768px){
  .item-error{
     padding-top: 100px;


  }
 
}
