.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-bg, .image-bg {
  position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; 
}

.image-bg {
  display: none;
}

@media (max-width: 768px) {
  .video-bg {
    display: none;
  }
  .image-bg {
    display: block;
  }
}

