* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul , ol {
    list-style: none;
    
}
body {
  /* font-family: aqui va la fuente  */
  width: 100%;
  min-height: 100vh;

}
