/* estos son los estilos del navbar del index  */
/* Cuando se hace scroll */
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
/* Estilos navbar inicio */
.navbar-inicio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  .login {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Breakpoints tablet  */
@media (max-width: 768px) {
}
/*Breakpoints  movil  */
@media (max-width: 480px) {
  /* estos son los estilos del navbar del index  */
  .navbar-inicio {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .login {
      font-size: 0.7rem;
      margin: 0;
    }
  }
}
