/* estos son los estilos del navbar del index  */

/* Cuando se hace scroll */
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
/* Estilos navbar inicio */
.navbar-inicio {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
}

.menu-toogle {
  display: none;
}
/* estilo de los botones  */
.login {
  font-size: 1rem;
  background-image: var(--color-botones);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  &:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}
}

.logo-rebotar {
  width: 100%;
  display: block;
  transition: transform 1s ease;
}

.logo-rebotar:hover {
  animation: bounce 2s;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-20px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Breakpoints tablet  */
@media (min-width: 767px) and (max-width: 1199px) {
  .container-menu-toogle {
    margin-right: 60%;
  }
  .menu-toogle {
    display: block;
  }
  .nav-item {
    display: none;
  }

  .logo-inicio {
    display: none;
  }
  .login {
    font-size: 0.6rem;
  }
}

/*Breakpoints  movil  */
@media (max-width: 480px) {
  .container-menu-toogle {
    margin-right: 40%;
  }
  .menu-toogle {
    display: block;
  }
  .nav-item {
    display: none;
  }

  .logo-inicio {
    display: none;
  }
  .logo-movil {
    width: 2.5rem;
    height: 2rem;
  }
  .login {
    font-size: 0.5rem;
  }
}
