*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
min-height: 100vh;
display: flex;
flex-direction: column;
color: whitesmoke;
}

.logo-login {
padding: 20px;
align-self: flex-start;
}

.logo-login img {
width: 100px;
height: auto;
}

.login-main{
/* background-color: crimson; */
/* flex: 1; */
display: flex;
align-items: center;
justify-content: center;
padding: 40px 20px;
}

.login-form {
width: 100%;
max-width: 400px;
background-color: rgba(0, 0, 0, 0.65);
padding: 60px;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 50px;
}