/* estos son los estilos del main del index  */
/* Hero section pegada al top ocupa toda la pantalla */
.hero {
  height: 90vh;
  display: flex;
  margin: 0 auto;
  
}
.div-hero {
  width: 50%;

}
.div-hero-carousel {
  width: 45%;
  align-self: center;
  margin-bottom: 10%;
  opacity: 0.5;
}
/* estos son los estilos de los contenedores de las section  */
.container-section{
  background-color: var(--colorSection);
  min-height: 100vh;
  height: auto;
  padding: 80px 0; 

  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.section-plan{
  scroll-margin-top:80px;
}
/* este es el video de la page error-404  */
.video-error-404 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
/* esta es la imagen de la page error-404 */
.imagen-error-404 {
    display: none;
    
  }
/* Breakpoints tablet  */
@media (max-width: 768px) {
  .hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .div-hero {
    width: 100%;
     img {
      width: 150px;
      height: 120px;
    }
    h2 {
      width: 80%;
      margin: 0 auto;
      font-size: 1.8rem;
    }
     p {
      padding: 5px 0;
      font-size: 1.2rem;
    }

  }
  .div-hero-carousel {
    margin-top: 2rem;
    width: 85%;
    align-self: center;
    opacity: 0.5;
  }
}
/*Breakpoints  movil  */
@media (max-width: 480px) {
  .hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .div-hero {
    width: 100%;

    img {
      width: 120px;
      height: 100px;
    }
    h2 {
      width: 80%;
      margin: 0 auto;
      font-size: 1.2rem;
    }
    p {
      padding: 5px 0;
      font-size: 1rem;
    }
  }
  .div-hero-carousel {
    margin-top: 2rem;
    width: 90%;
    align-self: center;
    opacity: 0.5;
  }
  .video-error-404 {
      display: none;
  }

  .imagen-error-404 {
    display: block;
    height: 100vh;
    width: 100vw;
    
  }
}





